header
{
    background: linear-gradient(to bottom, grey, black);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-top: -10px;
    width: 100vw;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav .reseaux{
    color: darkred;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Anthony\ Hunter';
}
@font-face {
    font-family: 'Anthony\ Hunter';
    src: url('Anthony\ Hunter.otf');
}
@font-face {
    font-family: 'blackparade';
    src: url('blackparade.otf');
}
nav ul li .logo img {
    width: 400px;
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
}
nav ul li .logo{
    content:"";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#ff3e95c8, transparent) no-repeat;
    background-size: 80% 80%;
    background-position-x: 30%;
    background-position-y: center;
    border-radius: 150px;
}
*{
    font-size: 30px;
    box-sizing: border-box;
}
nav ul li a{
    color:aliceblue;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav ul li{
    padding-right: 70px;
}

footer{
    display: flex;
    position: relative;
    bottom: 0px;
    right: 0px;
}
.copyright{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color:aquamarine;
    font-family: 'blackparade';
}
.title_clip{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 15px;
    font-size: larger;
    text-decoration: none;
    letter-spacing: 3px;
    color:#ff3e95;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgba(225, 62, 149),
    0 0 80px rgba(225, 62, 149),
    0 0 90px rgba(225, 62, 149),
    0 0 100px rgba(225, 62, 149),
    0 0 150px rgba(225, 62, 149);
    font-family: 'Anthony\ Hunter';
}
.dispo_spotify{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    color:rgb(0, 0, 255);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    font-family: 'Anthony\ Hunter';
}
.btn{
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 15px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0,5s;
    backdrop-filter: blur(15px);
}
.btn:hover a{
    letter-spacing: 3px;
}
.btn a::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.25), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}
.btn:hover a::before{
    transform: skewX(45deg) translate(100px);
}
.btn::before{
    content:"";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 20px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}
.btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}
.btn::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 20px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}
.btn:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}
.btn:nth-child(1)::before,
.btn:nth-child(1)::after{
    background: #ff3e95;
    box-shadow: 0 0 5px #ff3e95, 0 0 15px #ff3e95, 0 0 30px #ff3e95, 0 0 60px #ff3e95;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; 
    position: relative;
    height: 0;
   }
.video_youtube .video-responsive iframe {
    left: 10%;
    top: 0;
    position: absolute;
   }
.spotify .video-responsive iframe {
    left: 20%;
    top: 0;
    position: absolute;
   }
.video_youtube{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: fit-content;
}
.spotify{
    display: flex;
    overflow: hidden;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
}
body{
    height: max-content;
    background-image: url("Raptol\ -\ Starlight\ Album\ -\ BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow-x: hidden;    
}
main{
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.05);
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.500);
    background: radial-gradient(transparent, rgba(255,255,255,0.510)) ;
}

@media screen and (max-width: 1150px) {
    nav ul li img {
        width: 200px;
        display: flex;
    }
    main{
        margin-left: 100px;
        margin-right: 100px;
    }
    .btn{
        width: 100px;
        height: 40px;
    }
    nav ul li a{
        font-size: 18px;
    }
    .btn::before{
        bottom: -3px;
        width: 15px;
        height: 10px;
    }
    .btn::after{
        top: -2px;
        width: 15px;
        height: 10px;
    }
    nav ul li{
        padding-right: 30px;
    }
}
@media all and (max-width: 700px) {
    .btn{
        width: 75px;
        height: 30px;
    }
    main{
        margin-left: 50px;
        margin-right: 50px;
    }
    .btn a {
        padding: 5px;
    }
    .btn:hover a{
        letter-spacing: 2px;
    }
    .btn::before{
        bottom: -2px;
        width: 7px;
        height: 5px;
    }
    .btn::after{
        top: -2px;
        width: 7px;
        height: 5px;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        padding-top: 10px;
    }
    nav ul li a{
        font-size: 15px;
    }
}